*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


# Emacs
*~

# Project-specific 
set-keys.sh
keys.py
/crushes.p
/model/tests/posts.p
/model/simple_run.py
/model/ps_full.p
/data/individual_whitepages.pdf
/data/individual_whitepages.txt
/data/resp.txt
/model/classes_No_Name.dot
/model/classes_No_Name.png
/model/packages_No_Name.png
/model/scraper_test_tmp
/model/test_posts.p
/model/metricData.csv
/model/metricData.sql
/model/tests/metricData.csv
/model/tests/metricData.sql
/data/ldap_schema.txt
/tests/test_names.txt

/model/tmp.json
