{# Flask must define:
    column_names: a list of strings representing the name of each column
    rows: a list of list of strings representing each row of the table
#}

{% extends "base.html" %}

{% macro wrap(iterable, tag) %}
  {% for item in iterable %}
    <{{ tag }}> item </{{ tag }}>
  {% endfor %}
{% endmacro %}


{% block content %}
<!-- Main component for a primary marketing message or call to action -->
<table class="table table-striped">
  <thead>
    {{ wrap(column_names, "th") }}
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {{ wrap(row, "td") }}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
